---
layout: page
# All the Tags of posts.
---

<div id="tags" class="d-flex flex-wrap mx-xl-2">
  {% assign tags = '' | split: '' %}
  {% for t in site.tags %}
    {% assign tags = tags | push: t[0] %}
  {% endfor %}
  
  {% assign pair_tags = "" | split: "" %}
  {% for t in tags %}
    {% if page.lang == "ko-KR" or site.lang == "ko-KR" or html.lang == "ko-KR" %}
      {% assign trans = site.data.tagmap[t] | default: t %} 
    {% else %}
      {% assign trans = t %}
    {% endif %}
    {% assign pair = trans | append: "|||" | append: t %}
    {% assign pair_tags = pair_tags | push : pair %}
  {% endfor %}

  {% assign pair_sorted = pair_tags | sort_natural %}
  
  {% for p in pair_sorted %}
    <div>
      {% assign parts = p | split: "|||" %}
      {% assign label = parts[0] %}
      {% assign t = parts[1] %}
      <a class="tag" href="{{ t | slugify | url_encode | prepend: '/tags/' | append: '/' | relative_url }}">
        {{ label -}}
        <span class="text-muted">{{ site.tags[t].size }}</span>
      </a>
    </div>
  {% endfor %}
</div>
